<div class="container">

    <h4 style="background-color: rgb(129, 104, 104); color:rgb(70, 95, 105) ; text-align: center;font-size: 40px">Create Artist</h4>

    <form class="sl">
            <div class="form-group">
              <label for="songId">Song Id</label>
              <input type="number" class="form-control" id="songId"  placeholder="Enter SongId">
            </div>
            <div class="form-group">
                <label for="songUrl">Song Id</label>
                <input type="text" class="form-control" id="songUrl"  placeholder="Enter SongUrl">
              </div>
            <div class="form-group">
              <label for="songTitle">Song Name</label>
              <input type="text" class="form-control" id="artistTitle" placeholder="Enter Song Title">
            </div>
            <div class="form-group">
                <label for="artistId">Artist Id</label>
                <input type="number" class="form-control" id="artistId"  placeholder="Enter ArtistId">
              </div>
              <div class="form-group">
                <label for="artistName">Artist Name</label>
                <input type="text" class="form-control" id="artistName" placeholder="Enter Artist Name">
              </div>
              <div class="form-group">
                <label for="songImage">Song Image</label>
                <input type="text" class="form-control" id="songImage"  placeholder="Enter SongImage">
              </div>
              <div class="form-group">
                <label for="albumId">Album Id</label>
                <input type="number" class="form-control" id="albumId"  placeholder="Enter AlbumId">
              </div>
              <div class="form-group">
                <label for="albumName">Album Name</label>
                <input type="text" class="form-control" id="albumName" placeholder="Enter Album Name">
              </div>
              <div class="form-group">
                <label for="rgionName">Region Name</label>
                <input type="text" class="form-control" id="rgionName" placeholder="Enter Region Name">
              </div>
              

              <form class="md-form">
                <div class="file-field">
                  <a class="btn-floating purple-gradient mt-0 float-left">
                    <i class="glyphicon glyphicon-upload" aria-hidden="true"></i>
                    <input type="file"><br>
                  </a>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload your file">
                  </div>
                </div>
              </form>

              <br>
            <!-- <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <button type="submit" class="btn btn-primary" style="display: block; margin: 0 auto">Create Artist</button>
          </form>

</div>