

<div style="background-color: lightcyan">
    <div class="container">
        <h4 style="color:rgb(46, 15, 15);text-align:center; font-size: -webkit-xxx-large">
            User Details
        </h4>
    </div>

    <br>
    <div class="container">
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>User First Name</td>
                            <td>{{user.userFirstName}}</td>
                        </tr>
                        <tr>
                            <td>User Last Name</td>
                            <td>{{user.userLastName}}</td>
                        </tr>
                        <tr>
                            <td>User Email</td>
                            <td>{{user.userEmail}}</td>
                        </tr>
                        <tr>
                            <td>User Contact Number</td>
                            <td>{{user.userContactNumber}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>